input {
  width: 100%;
  &.email-txt {
    width: 74%;
  }
}
.toggle-btn {
  max-width: 500px;
  margin: auto;
  label {
    margin: 0px;
  }
}
.selected {
  background: dodgerblue;
  color: white;
}
.btn {
  border: 1px solid #CCC;
  padding: 10px;
  min-width: 90px;
  max-width: 150px;
  text-align: center;
  border-radius: 0;
  &.btn-grey {
    background: #e9e9e9;
    color: #a9a9a9;
  }
  &.btn-primary {
    background: dodgerblue;
    color: #fff;
  }
}

.toggle-content {
  display: none;
  max-width: 100%;
  border: 1px solid #CCC;
  padding: 20px;
}
#toggle {
  opacity: 0;
  &:not(:checked) ~ .btn1 {
    @extend .selected;
  }
  &:not(:checked) ~ .content1 {
    display: block;
  }
  &:checked ~ .btn2 {
    @extend .selected;
  }
  &:checked ~ .content2 {
    display: block;
  }
}


.form {
  .row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.header {
  background: dodgerblue;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2em;
  color: #FFF;
  position: relative;
}

.textfield {
  margin: 10px 0;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}
.box {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  &.col-md-6 {
    width: calc(50% - 20px);
  }
}

.button-container {
  text-align: center;
}

.logout {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}


.block {
  border: 1px solid #ccc;
  padding: 10px;
}

.block-preview {
  display: inline-block;
  font-size: 12px;
  padding-left:15px;
  min-width: 20%;
  padding-right:15px;
}

.block-data {
  margin-left: 10px;
  padding: 3px;
  display: inline-block;
}

.block-link {
  margin-top: -4px;
  margin-left: calc(50% - 20px);
  color: #666;
}
.block-container {
  max-height: 500px;
  overflow-y: auto;
}
.text-right {
  text-align: right;
}

.block-detail-label {
  display: inline-block;
  font-size: 16px;
  width: 126px;
}
.block-detail {
  margin-bottom: 10px;
}
.huge-block-data {
  font-size: 0.9em; 
}

.flex {
  display: flex;
}


.transaction {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.contract-field, .transaction-field {
  margin-left: 20px;
}

.contract-address, .transaction-address {
  display: inline-block;
  padding-left:10px;
  padding-right:10px;
}
.small-text {
  font-size: 12px;
  display: block;
}