
.header {
  height: 357px;
  background: url(/static/media/main-background.1d329055.png) no-repeat scroll center top transparent;
  background-size: cover;
  position: relative;
}

.blockchain-image {
  width: 100%;
  height: 447px;
}

.blockchain-full-node {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.divider {
  height: 40px;
  background-color: #000000;
  padding-top: 20px;
  .divider-line {
    width: 139px;
    height: 2px;
    border: solid 1px #80807e;
    margin: 0 auto;
  }
}

.nav-item {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #80807e;
  padding: 13px 44px 19px 44px;
}

.nav-item:hover {
  color: inherit;
  text-decoration: none;
}

.redeem-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  .redeem-icon {
    cursor: pointer;
    &.cursor-none {
      cursor: default;
    }
  }
}

input {
  width: 100%;
  border: none;
  &.email-txt {
    width: 74%;
  }
}

.toggle-btn {
  max-width: 500px;
  margin: auto;
  label {
    margin: 0px;
  }
}

.selected {
  background: dodgerblue;
  color: white;
}

.btn {
  border: 1px solid #CCC;
  padding: 10px;
  min-width: 90px;
  max-width: 150px;
  text-align: center;
  border-radius: 0;
  &.btn-grey {
    background: #e9e9e9;
    color: #a9a9a9;
  }
  &.btn-primary {
    background: dodgerblue;
    color: #fff;
  }
}

.toggle-content {
  display: none;
  max-width: 100%;
  border: 1px solid #CCC;
  padding: 20px;
}

#toggle {
  opacity: 0;
  &:not(:checked) ~ .btn1 {
    @extend .selected;
  }
  &:not(:checked) ~ .content1 {
    display: block;
  }
  &:checked ~ .btn2 {
    @extend .selected;
  }
  &:checked ~ .content2 {
    display: block;
  }
}

.form {
  .row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.navigation-bar {
  width: 100%;
  background: #000000;
  text-align: center;
  font-size: 2em;
  color: #FFF;
  position: relative;
  padding-left: 200px;
  height: 55px;

  &.fixed-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
}

.textfield {
  margin: 10px 0;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

.box {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  &.col-md-6 {
    width: calc(50% - 20px);
    height: 550px;
    overflow-y: auto;
  }
}

.button-container {
  text-align: center;
}

.logout {
  cursor: pointer;
}

.logout-icon {
  color: #bfc0bb;
  font-size: 16px;
}

.logout-panel {
  display: inline-block;
  float: right;
  padding-right: 32px;
}

.block-link {
  margin-top: -4px;
  margin-left: calc(50% - 20px);
  color: #666;
}

.text-right {
  text-align: right;
}

.huge-block-data {
  font-size: 0.9em;
}

.flex {
  display: flex;
}

.transaction-title {
  padding-left: 20px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #ffffff;
}

.small-text {
  font-size: 12px;
  padding-left: 9px;
  color: #bfc0bb;
  text-align: right;
}

.border {
  background-color: #373737;
}

.transactionState {
  padding: 10px;
  &.failure {
    background: #FDBF2D;
    color: #FFF;
  }
  &.success {
    background: #19AF54;
    color: #FFF;
  }
  &.doublespenddetected {
    background: #FC0D1B;
    color: #FFF;
  }
}

@media screen and (max-width: 1024px) {
  .flex {
    flex-wrap: wrap;
  }
  .box {
    &.col-md-6 {
      width: 100%;
      overflow-y: visible;
      height: auto;
    }
  }
  .navigation-bar {
    font-size: 1.5em;
    text-align: left;
    height: 55px;
  }
  .logout {
    float: right;
  }
  input.email-txt {
    max-width: 73%;
  }
}

.section-label {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 15px;
}

.section-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}

.text-field-label {
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bfc0bb;
  margin-bottom: 3px;
}

.scan-input::placeholder {
  width: 170px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: white;

  margin-left: 5px;
}

.text-field-input {
  padding-left: 10px;
  background-color: #373737;
  width: 100%;
  color: #ffffff;
}

.grid-cont {
  background-color: #191e21;
}

.add-email-address {
  color: #3e7bd8;
  text-decoration: underline;
  cursor: pointer;
}

.block-union-symbol {
  width: 11px;
  height: 28px;
  object-fit: contain;
}

.login-page {
  background-color: #FFFFFF;
}

.create-coupan {
  margin-top: 35px;
  margin-bottom: 35px;
}

.is-current {
  border-bottom: 2px solid #ffffff;;
}

.footer {
  width: 100%;
  height: 120px;
  background-color: #000000;
  display: block;
}